.container {
  height: 100%;

  .body {
    height: 80%;
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid rgb(34, 255, 89);

    >h5 {
      text-align: center;
      color: red;
      font-size: 48px;
    }
  }
}

